annotated-types==0.7.0
astroid==3.3.3
bcrypt==4.2.0
blinker==1.8.2
click==8.1.7
dill==0.3.8
Flask==3.0.3
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
platformdirs==4.3.6
pydantic==2.9.2
pydantic_core==2.23.4
PyJWT==2.9.0
pylint==3.3.0
python-dotenv==1.0.1
tomlkit==0.13.2
typing_extensions==4.12.2
Werkzeug==3.0.4
